<link href="css/bootstrap.min.css" rel="stylesheet">
<div><center>
  	<h2>Escribir entrada en historial</h2>	
  	<label>Escriba la contraseña del paciente:</label><br>
  	<input type="password" name="pass" id="pass"><br><br>
  	<label>Escriba la cuenta del nuevo doctor:</label><br>
    <textarea cols=60 rows=5 id="text"></textarea><br><br>
    <input type="button" class="btn btn-primary" value="Cancelar" onclick='cancel()'/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" class="btn btn-primary" name="button" id="button" value="Publicar entrada" onclick='publicar()' />
 </center></div>
 <script>
 	//publica la entrada en el historial del paciente si se ha introducido bien la contrasena
 	function publicar(){
 		parent.App.addHistorial(parseInt(parent.document.getElementById("ident").textContent.substr(4)),document.getElementById("text").value,document.getElementById("pass").value);
 	}
//cierra el iframe en el que nos encontramos
 	function cancel(){
 		parent.document.getElementById("icontra").remove();
 	}
 </script>
 