<link href="css/bootstrap.min.css" rel="stylesheet">
<div><center>
  	<h2>Contrase&ntilde;a</h2>	
  	<label id="contra"></label><br><br>
    <input type="button" class="btn btn-primary" value="Cerrar" onclick='cancel()'/>
 </center></div>
 <script>
 	//cierra el iframe en el que nos encontramos
 	function cancel(){
 		parent.document.getElementById("icontra").remove();
 	}
 </script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <script src="js/web3.min.js"></script>
 <script src="js/truffle-contract.js"></script>
 <script src="js/app.js"></script>