<link href="css/bootstrap.min.css" rel="stylesheet">
<div><center>
  	<h2>Registrar Doctor</h2>	
  	<label>Escriba la contraseña:</label><br>
  	<input type="password" name="pass" id="pass"><br><br>
  	<label>Escriba la cuenta del nuevo doctor:</label><br>
    <textarea cols=60 rows=2 id="text"></textarea><br><br>
    <input type="button" class="btn btn-primary" value="Cancelar" onclick='cancel()'/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" class="btn btn-primary" name="button" id="button" value="Registrar Doctor" onclick='registrarDoc()' />
 </center></div>
 <script>
 	//registra la cuenta introducida en el text area si la contrasena esta bien
 	function registrarDoc(){
 		parent.App.registerM(parent.document.getElementById("nombre").value,document.getElementById("text").value,document.getElementById("pass").value);
 	}
//cierra el iframe en el que nos encontramos
 	function cancel(){
 		parent.document.getElementById("regmedic").remove();
 	}
 </script>